<div class="flex_form">
    <%= form_for @post, html: { multipart: true } do |f| %>
    
        <div class="form_group">
            <%= f.label :title %>
            <%= f.text_field :title %>
        </div>

          <div class="form_group">
            <%= f.label :image %>
            <%= f.file_field :image %>
        </div>

    <div class="form_group">
        <%= f.label :content %>
        <%= f.text_area :content %>
    </div>

    <%= f.submit %>

    <% end %>
</div>