<div class="mobile_nav">
       <ul class="site_nav">
            <li><%= link_to posts_path do %>Posts<% end %></li>
            <li><%= link_to new_post_path do %>About<% end %></li>
            <li><%= link_to "" do %>Contact<% end %></li>
        </ul>    
    </div>
    <header class="main_header">
        <div class="header_position">
            <h1 class="logo">Liam's Blog</h1>
            <ul class="site_nav">
                <li><%= link_to posts_path do %>Posts<% end %></li>
                <li><%= link_to "" do %>About<% end %></li>
                <li><%= link_to "" do %>Contact<% end %></li>
            </ul>
            <a href="mailto:liamvab@gmail.com" class="email_link">+email me</a>
            <div class="mobile_nav_toggle"><span></span></div>
        </div>
    </header>